
<div class="container" style="margin-left: 500px; margin-top: 20px; align-items: center;">
<h2><i>Thank You For Booking Your Ticket</i></h2>
<h2 style="margin-left: 135px; margin-top: 20px;"><i>Happy Journey</i></h2>
</div>
<div style="margin-top: 50px; ">
    <div class="container">
        <section class="mx-auto" style="max-width: 23rem; ">
        
        
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" >
              <img src="https://images.railyatri.in/ry_images_prod/Homepage-BannerNew-1592207921.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Payment Success</h5>
               <p> Transaction ID : {{transID}}</p>
              <h6 class="mb-2">Your ticket is booked</h6>
              <p class="card-text">
               PNR Number: {{PnrNumber}}</p>
               <p>Passenger Name : Ariba Siddiqui</p>
               <p>Date of Journey : 11/04/2023</p>
               <p>Quota : Ladies</p>
               <p>From : Mumbai
                &nbsp; &nbsp;
                To : Lucknow
               </p>
              
              
            </div>
          </div>
          
        </section>
      </div>
    </div>


    